@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
.orders_but::before{
    content: "";
    background-image: url(../img/Storage.svg);
    background-size: cover;
    width: 18px;
    height: 18px;
    margin-right: 5px;
}
.storage_nav{
    width: 76%;
    min-width: 1098px;
    margin-top: 38px;
}
.storage_table{
    padding: 0;
    margin: 0;
}
.storage_table li{
    border-top: 2px solid #003578;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: black;
    padding: 21px 0;
    align-items: center;
    
}
.storage_table li p{
    margin: 0;
    justify-self: center;
}
.where{
    margin-right: 23px;
    background-color: #253D98;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    border-radius: 10px;
    border: none;
    outline: none;
}
.personal_area:hover .PA_drop{
    display: flex;
}